* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  height: 100vh;
  background-image: url("./images/background.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

/*Navbar CSS*/

.navbar {
  display: flex;
  background-color:#14a7e5;
  width: 100vw;
  height: 5vh;
}

.navbar-ul {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items:center;
  list-style-type:none;
  width: 100%;
}



/*Home CSS*/

.home-logo {
  display: flex;
  justify-content:flex-start;
  padding-top: 2rem;
  padding-left: 2rem;
}