
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}


body {
  height: 100vh;
  background-image: url("./images/background.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

/*Navbar CSS*/

.navbar {
  display: flex;
  background-color:#14a7e5;
  width: 100vw;
  height: 5vh;
}

.navbar-ul {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items:center;
  list-style-type:none;
  width: 100%;
}

.navbar-li {
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content:flex-start;
  padding-top: 2rem;
  padding-left: 2rem;
}




/*Home CSS*/

.home-container {
  height: 70vh;
}

.home-text-container {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  width: 50%;
}

.home-h1 {
  font-size: 3rem;
  color: black;
}

.home-p {
  font-size: 1.35rem;
  color: black;
}

.home-button {
  width: 10rem;
  height: 4rem;
  border: solid white 2px;
  border-radius: 0.5rem;
  background-color:#14a7e5;
  cursor: pointer;
  font-size: 1.5rem;
}